:root{
  --fonte-Open: "Open Sans", sans-serif;
  --azul-claro: #6BD1FF;
  --branco: #F5F5F5;
  --preto: #000000;
}

body {
  margin: 0;
  background-color: var(--preto);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
